.anuncio{
    background-color: yellow;
    padding: 15px;
     
    p{
        text-align: center;
        font-family: Arial, Hßelvetica, sans-serif;
    
        span{
            font-weight: bold;
        }
    }

}
