.section-historia{
    
    .card{
        background-color: red;

        .card-body{

            h5{
                color: violet;
            }

            p{
                color: black;
            }

            a{
                background-color: yellow;
                color: black;
                border: 0px;
            }
        }
    }
}